<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

  </head>
  <body>
   <main class="container">

  <section class="calc-body">
	    <div class="calc-screen">
	      <div class="calc-operation" id="operation"> </div>
	      <div class="calc-typed" id="affiche"></div>
	    </div>

	    <div class="calc-button-row">
	      <div class="button c">C</div>
	      <div class="button l">/</div>
	      <div class="button l">*</div>
	      <div class="button l">-</div>
	    </div>

	    <div class="calc-button-row">
	      <div class="button">7</div>
	      <div class="button">8</div>
	      <div class="button">9</div>
	      <div class="button l add">+</div>
	    </div>
	    <div class="calc-button-row">
	      <div class="button">4</div>
	      <div class="button">5</div>
	      <div class="button">6</div>
	      <div class="button">.</div>     
	    </div>
	    <div class="calc-button-row">
	      <div class="button">1</div>
	      <div class="button">2</div>
	      <div class="button">3</div>
	      <div class="button">0</div>    
	    </div>
	    <div class="calc-button-row">
	      <div class="button l" style="width: 100%">=</div>
	    </div>
    </section>

    <div id="local" class="col-12 card">
    	
    	

    </div>
  	</main>
  	    <script>


let btn = document.querySelectorAll(".button");
let affiche = document.getElementById('affiche');
let operation = document.getElementById('operation');
let local = document.getElementById('local'); 
let array = [];


 for (let i = 0; i < btn.length; i++) {

 	//ecoute le clic
     btn[i].addEventListener("click", function() {

     	switch (btn[i].innerHTML){
     		case 'C' :
				clearAffiche();
     		break; 

     		case '=' :
     			calcule(affiche.innerHTML);
     			active();
     		break;
     		case '+':
     			disabled(btn[i]);

     		break;
     		default:
				affiche.append(btn[i].innerHTML)
     		break;
     	}

       

     });
 }

function calcule (arg) {

	//permet de calculer
	var result = eval(arg);

	//stocke le réultat et le calcule
	let storage = localStorage.setItem('historique', arg+'='+result);
	let his = localStorage.getItem('historique' );
	
	//affiche le résultat et historique 
	affiche.innerHTML = result;
	operation.innerHTML = result;
	

	//limite 
	if(array.length == 10 ){
		//supprime le premier élément
		array.shift();
		array.push(arg+'='+result);
		local.innerHTML = "";

		//affiche les 10 dernières opérations
		for (var i = 0; i < array.length; i++) {
			local.append(array[i]', ');
		}

	}else{
		//ajout les éléments dans le tableau
		array.push(arg+'='+result);
		local.append(his+', ');
	}
	
}


function clearAffiche() {
	affiche.innerHTML = "";
}

//désactive les boutons d'opérateurs
function disabled (btn) {

	btn.disabled = true;
	
}

//Rend les boutons d'opérateurs disponibles
function active (){

	for (var i = 0; i < btn.length; i++) {
		btn[i].removeAttribute('disabled');
	}	
}

  	</script>
  </body>
</html>
