<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

  </head>
  <body>
   <main class="container">
    <div class="d-flex mx-auto col-12 card calc-operation" style="
    width: 275px;
    background-color: #3a4655!important;
    color: #d0e5ff;
">
		<ul id="local">
			
		</ul>
</div>

    		
    	

    </div>
  <section class="calc-body">
	    <div class="calc-screen">
	      <div class="calc-operation" id="operation"> </div>
	      <div class="calc-typed col-12" id="affiche"></div>
	    </div>

	    <div class="calc-button-row">
	      <div class="button c">C</div>
	      <div class="button l">/</div>
	      <div class="button l">*</div>
	      <div class="button l">-</div>
	    </div>

	    <div class="calc-button-row">
	      <div class="button">7</div>
	      <div class="button">8</div>
	      <div class="button">9</div>
	      <div class="button l add">+</div>
	    </div>
	    <div class="calc-button-row">
	      <div class="button">4</div>
	      <div class="button">5</div>
	      <div class="button">6</div>
	      <div class="button">.</div>     
	    </div>
	    <div class="calc-button-row">
	      <div class="button">1</div>
	      <div class="button">2</div>
	      <div class="button">3</div>
	      <div class="button">0</div>    
	    </div>
	    <div class="calc-button-row">
	      <div class="button l" style="width: 100%">=</div>
	    </div>
    </section>


  	</main>
  	    <script>


const btn = document.querySelectorAll(".button");
let affiche = document.getElementById('affiche');
let operation = document.getElementById('operation');
let local = document.getElementById('local'); 
let array = [];


 for (let i = 0; i < btn.length; i++) {

 	//ecoute le clic
     btn[i].addEventListener("click", function() {

     	switch (btn[i].innerHTML){
     		case 'C' :
				clearAffiche();
     		break; 

     		case '=' :
     			calcule(affiche.innerHTML);

     		break;

     		default:
				affiche.append(btn[i].innerHTML)
     		break;
     	}

       

     });
 }

function calcule (arg) {

	//permet de calculer
	var result = eval(arg);
	var li = document.createElement('li');
	li.classList.add('list-group-item', 'list-group-item-dark');


	// stocke le réultat et le calcule
	let storage = localStorage.setItem('historique', arg+'='+result);
	let his = localStorage.getItem('historique' );
	
	// affiche le résultat et historique 
	affiche.innerHTML = result;
	operation.innerHTML = result;
	

	// limite 
	if(array.length == 10 ){
	// 	//supprime le premier élément
		array.shift();
		array.push(arg+'='+result);
		local.innerHTML = "";

	// 	affiche les 10 dernières opérations
	for (var j = 0; j < array.length; j++) {
		local.append('<li>'+array[j]+'</li>')
	}

	}else{
	// 	ajout les éléments dans le tableau
		array.push(arg+'='+result);
		local.append(li);
		li.append(his);
	}
	
}


function clearAffiche() {
	affiche.innerHTML = "";
}


  	</script>
  </body>
</html>
